*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url("../img/verde.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}

table{
     margin: 0 auto;
     margin-top: 2%;
 	 width:90%;
 }

p{
	font-size: 2.5em;
	margin-bottom: 5px;
	margin-left: 2%;
}


iframe{
    width: 100%;
    height: 500px;
}

.filaprincipal{
	text-align: center;
}

.grisclaro{
    background-color: #ff8000;
}

.grisoscuro{
     background-color: #3333ff;
     padding: 6px;

}
a{
	text-decoration: none;
	padding: 6px;
}

span{
	color: green;
}